name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:

  # 1. Unit tests
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Run unit tests
        run: pnpm test